<h4 id="greetedUser"> Hello, {{ username }}   has been greeted  {{ count }}  times. </h4>
<form method="GET" action="/greeted">
    <button type="submit" id="view-greeted-people-btn">View greeted people</button>
</form>

<form method="GET" action="/">
    <button type="submit" class="back-to-home">Home</button>
</form>