<div id="greetedPeopleForm">
    <h2>Greeted People</h2>
    <table>
        <tr>
            <th>Names</th>
        </tr>
        {{#each people}}
        <tr>
            <td><a href="/counter/{{name}}">{{name}}</a></td>
        </tr>
        {{/each}} 
    </table>
</div>

<form method="GET" action="/">
    <button type="submit" class="back-to-home">Home</button>
</form>