
<div id="greetedPeopleForm">
<h2>Greeted People</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Number of times greeted</th>
        </tr>
        {{#each people}}
        <tr>
            <td><a href="/counter/:username">{{name}}</a></td>
            <td>{{numberOfTimes}}</td>
        </tr>
        {{/each}} 
    </table>
</div>