<div id="container">
    <div class="greeting-section">
        <h2 class="greeting-header"> Greetings! </h2>
        <p class="greet-message"></p>
        <legend>
            <label for="name"> Name </label>
            <input type="text" value="" id="name-input">
        </legend>
        <div class="language-radios">
            <input type="radio" class="radio-language" value="english" name="language" id="radio-english"> English </input>
            <input type="radio" class="radio-language" value="afrikaans" name="language" id="radio-afrikaans"> Afrikaans </input>
            <input type="radio" class="radio-language" value="xhosa" name="language" id="radio-xhosa"> Xhosa </input>
        </div>
        <button id="greet-btn"> Greet Me! </button>
        
        <button id="reset">Reset</button>
    </div>
    

    <div class="greeting-counter"> 
        <h1 class="counter"> 0 </h1>
    </div>
</div>